
body {
    background-color: #df352f;
    color: white;

    video#bgvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background: url(resources/video/nightpic.png) no-repeat;
        background-size: cover;
        opacity: 0.75;
    }

    text-align: right;

    a {
        font-family: "Open Sans";
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        padding-right: 2%;
        padding-top: 5%;
    }

    #mainContent {
        width: 40%;
        margin-left: auto;
        margin-right: auto;

        background-color: rgba(20, 0, 0, 0.40);
        border-radius: 20px;

        position: relative;
        top: 50%;
        transform: translateY(+10%);


        padding-top: 8%;
        padding-bottom: 6%;

        text-align: center;

        #mc_embed_signup {
            display: inline-block;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;

            input.email {
                font-size: 15px;
                font-family: "Open Sans";
                min-height: 30px;
                min-width: 400px;
            }

            .clear {
                font-family: "Open Sans";
            }
        }

        p#title {
            font-family: "Lobster Two";
            font-weight: lighter;
            font-size: 10em;
            //        border: 3px solid yellow;
            margin-bottom: 0;
            margin-top: 0;
        }

        p#slogan {
            font-family: "Open Sans";
            font-size: 3em;
            //        border: 3px solid blue;
        }
    }
}